*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #888888;
    min-height: 100vh;
    line-height: 1.5;
    mix-blend-mode: transparent;
    border: none;
    background-color: #181818;


}
#hero{
    position: relative;
}
#hero video{
    height: 100vh;
    width: 100%;
    background-position: absolute;
    z-index: 0;
    object-fit: cover;
    filter: brightness(40%);
    background-size: cover;
   
}


.image-gradient{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;
}
.layer-blur{
    height: 0;
    width: 30rem;
    position: absolute;
    top: 20%;
    right: 0;
    box-shadow: 0 0 700px 15px white;
    rotate: -30deg;
    z-index: -1;
}
.container{
    width: 100%;
    margin: 0 hidden;
    padding: 0 2rem;
    position: absolute;
    overflow: auto;
    height: 100vh;
    z-index: 20;
    top: 0;
    left: 0;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    z-index: 999;
}
header h1{
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
}
nav{
    display: flex;
    align-items: center;
    margin-left: -6%;
    gap: 4rem;
    
}
nav a{
    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: color 0.2s ease;
    text-decoration: none;
    color: inherit;
    animation: anime 2s ease forwards;
}
@keyframes anime{
    from{
        opacity: 0;
        transform: translate(-50%, -40px);
    }
    to{
        opacity: 1;
        transform: translate(-50%, 0);
    }
}
nav a:hover{
    color: #000000;

}
.image-ooooo{
    margin-top: 1rem;
    margin-left: -2rem;
    width: 120px;
    height: 115px;
    border-radius: 50%;
    object-fit: cover;
}
.buttons {
    display: flex;
    gap: 1rem;
    padding-bottom: 40px;
}
.btn-get-started{
    text-decoration: none;
    border: 1px solid #ffffff;
    padding: 0.7rem 1.2rem;
    border-radius: 40px;
    font-size: 1.0rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    transition: background-color 0.2s ease;
}
.btn-get-started:hover{
    background-color: #ffffff;
}

.btn-get-home{
    text-decoration: none;
    border: 1px solid #ffffff;
    padding: 0.7rem 1.2rem;
    border-radius: 40px;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    transition: background-color 0.2s ease;
}
.btn-get-home:hover{
    background-color: #ffffff;
    
}
.btn-get-about{
     text-decoration: none;
    border: 1px solid #ffffff;
    padding: 0.7rem 1.2rem;
    border-radius: 40px;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    transition: background-color 0.2s ease;
}
.btn-get-about:hover{
    background-color: #ffffff;
}
.btn-get-skills{
      text-decoration: none;
    border: 1px solid #ffffff;
    padding: 0.7rem 1.2rem;
    border-radius: 40px;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    transition: background-color 0.2s ease;
}
.btn-get-skills:hover{
       background-color: #ffffff;
}
.btn-get-hobby{
     text-decoration: none;
    border: 1px solid #ffffff;
    padding: 0.7rem 1.2rem;
    border-radius: 40px;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    transition: background-color 0.2s ease;
}
.btn-get-hobby:hover{
      background-color: #ffffff;
}
.btn-get-dreams{
     text-decoration: none;
    border: 1px solid #ffffff;
    padding: 0.7rem 1.2rem;
    border-radius: 40px;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    transition: background-color 0.2s ease;
}
.btn-get-dreams:hover{
       background-color: #ffffff;
}
.btn-get-music{
      text-decoration: none;
    border: 1px solid #ffffff;
    padding: 0.7rem 1.2rem;
    border-radius: 40px;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    transition: background-color 0.2s ease;
}
.btn-get-music:hover{
       background-color: #ffffff;
}
.dreams-h1{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-left: 23rem;
    font-size: 3rem;
}
.h1-one{
    font-family: 'brush script mt', cursive;
}
.h1-two{
    font-family: 'courier new', monospace;
}
.h1-tree{
    font-family: 'copperplate payyrus', fantasy;
}
.h1-for{
    font-family:'times new roman', serif ;
}
.h1-five{
    font-family:'lucida handwriting', cursive ;
}
.h1-six{
    font-family:'lucida console monaco', monospace ;
}
.para-dreams{
    display: flex;
    max-width: 40rem;
    margin-left: 16rem;
    font-family: 'lucida handwriting', serif;
    font-size: 1rem;
}
.img-dreams{
    height: 200px;
    width: 200px;
    border-radius: 12%;
}
.img-robot{
    height: 200px;
    width: 200px;
    border-radius: 12%;
}
.img-python{
     height: 200px;
    width: 200px;
    border-radius: 12%;
}
.img-neuron{
      height: 200px;
    width: 200px;
    border-radius: 12%;
}
.img-trio{
      height: 200px;
    width: 200px;
    border-radius: 12%;
}
.img-web{
      height: 200px;
    width: 200px;
    border-radius: 12%;
}
.dreams-h2{
    display: flex;
    margin-left: 7.5rem;
    font-size: 2rem;
    font-family: 'times new roman', serif;
}
.robotik{
     display: flex;
    max-width: 40rem;
    margin-left: 7.5rem;
    gap: 2px;
}
.machine{
      display: flex;
    max-width: 40rem;
    margin-left: 38rem;
    gap: 2px;
}
.web{
      display: flex;
    max-width: 40rem;
    margin-left: 7.5rem;
    gap: 2px;
}
.one-p{
     display: flex;
    max-width: 30rem;
    margin-left: 35rem;
    margin-bottom: 1rem;
    margin-top: -10.5rem;
    font-family: serif;
    font-size: 15;
}
.two-p{
    display: flex;
    max-width: 30rem;
    margin-left: 7.5rem;
    margin-bottom: 1rem;
    margin-top: -11.5rem;
    font-family: serif;
    font-size: 15;
}
.tree-p{
      display: flex;
    max-width: 30rem;
    margin-left: 35rem;
    margin-bottom: 5rem;
    margin-top: -11rem;
    font-family: serif;
    font-size: 15;
}