*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #888888;
    min-height: 100vh;
    line-height: 1.5;
    mix-blend-mode: transparent;
    border: none;
    background-color: #181818;


}
#hero{
    position: relative;
}
#hero video{
    height: 100vh;
    width: 100%;
    background-position: absolute;
    z-index: 0;
    object-fit: cover;
    filter: brightness(40%);
    background-size: cover;
   
}


.image-gradient{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;
}
.layer-blur{
    height: 0;
    width: 30rem;
    position: absolute;
    top: 20%;
    right: 0;
    box-shadow: 0 0 700px 15px white;
    rotate: -30deg;
    z-index: -1;
}
.container{
    width: 100%;
    margin: 0 hidden;
    padding: 0 2rem;
    position: absolute;
    overflow: auto;
    height: 100vh;
    z-index: 20;
    top: 0;
    left: 0;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    z-index: 999;
}
header h1{
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
}
nav{
    display: flex;
    align-items: center;
    margin-left: -6%;
    gap: 4rem;
    
}
nav a{
    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: color 0.2s ease;
    text-decoration: none;
    color: inherit;
    animation: anime 2s ease forwards;
}
@keyframes anime{
    from{
        opacity: 0;
        transform: translate(-50%, -40px);
    }
    to{
        opacity: 1;
        transform: translate(-50%, 0);
    }
}
nav a:hover{
    color: #000000;

}
.image-ooooo{
    margin-top: 1rem;
    margin-left: -2rem;
    width: 120px;
    height: 115px;
    border-radius: 50%;
    object-fit: cover;
}
.buttons {
    display: flex;
    gap: 1rem;
    padding-bottom: 40px;
}
.btn-get-started{
    text-decoration: none;
    border: 1px solid #ffffff;
    padding: 0.7rem 1.2rem;
    border-radius: 40px;
    font-size: 1.0rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    transition: background-color 0.2s ease;
}
.btn-get-started:hover{
    background-color: #ffffff;
}

.btn-get-home{
    text-decoration: none;
    border: 1px solid #ffffff;
    padding: 0.7rem 1.2rem;
    border-radius: 40px;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    transition: background-color 0.2s ease;
}
.btn-get-home:hover{
    background-color: #ffffff;
    
}
.btn-get-about{
     text-decoration: none;
    border: 1px solid #ffffff;
    padding: 0.7rem 1.2rem;
    border-radius: 40px;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    transition: background-color 0.2s ease;
}
.btn-get-about:hover{
    background-color: #ffffff;
}
.btn-get-skills{
      text-decoration: none;
    border: 1px solid #ffffff;
    padding: 0.7rem 1.2rem;
    border-radius: 40px;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    transition: background-color 0.2s ease;
}
.btn-get-skills:hover{
       background-color: #ffffff;
}
.btn-get-hobby{
     text-decoration: none;
    border: 1px solid #ffffff;
    padding: 0.7rem 1.2rem;
    border-radius: 40px;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    transition: background-color 0.2s ease;
}
.btn-get-hobby:hover{
      background-color: #ffffff;
}
.btn-get-dreams{
     text-decoration: none;
    border: 1px solid #ffffff;
    padding: 0.7rem 1.2rem;
    border-radius: 40px;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    transition: background-color 0.2s ease;
}
.btn-get-dreams:hover{
       background-color: #ffffff;
}
.btn-get-music{
      text-decoration: none;
    border: 1px solid #ffffff;
    padding: 0.7rem 1.2rem;
    border-radius: 40px;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    transition: background-color 0.2s ease;
}
.btn-get-music:hover{
       background-color: #ffffff;
}
.content{
    max-width: 56rem;
    margin-left: 10%;
    z-index: 999;

}

.description{
    font-size: 1rem;
    letter-spacing: 0.01rem;
    max-width: 65rem;
    color: rgb(248, 248, 248);
    margin-top: -40px;
    margin-left: 7rem;

}

.content-one{
      max-width: 56rem;
    margin-left: 10%;
    z-index: 999;
}
.description-one{
     font-size: 1rem;
    letter-spacing: 0.01rem;
    max-width: 65rem;
    color: rgb(255, 255, 255);
    margin-top: -40px;
    margin-left: 7rem;
}

.image-ola{
    width: 330px;
    height: 320px;
   border-radius: 0.5rem;
}
.image-man{
    width: 330px;
    height: 320px;
    border-radius: 0.5rem;
}
.img-mel{
     width: 330px;
    height: 320px;
    border-radius: 0.5rem;
}
.img-mid{
     width: 330px;
    height: 320px;
    border-radius: 0.5rem;
}
.img-folk{
     width: 330px;
    height: 320px;
    border-radius: 0.5rem;
}
.img-ever{
     width: 330px;
    height: 320px;
    border-radius: 0.5rem;
}

.image-folk{
     width: 330px;
    height: 320px;
    border-radius: 0.5rem;
}
.image-mid{
    width: 330px;
    height: 320px;
    border-radius: 0.5rem;
}
.image-mel{
   width: 330px;
    height: 320px;
    border-radius: 0.5rem;
}
.image-rep{
    width: 330px;
    height: 320px;
    border-radius: 0.5rem;
}
.image-red{
   width: 330px;
    height: 320px;
    border-radius: 0.5rem;
}
.image-sour{
    width: 330px;
    height: 320px;
    border-radius: 0.5rem;
}

.judul{
     display: flex;
    flex-direction: row;
    gap: 5px;
    margin-left: 9rem;
    font-size: 1.5rem;
    margin-bottom: 15rem;
    margin-top: 5rem;
}
.MY{
     display: flex;
    flex-direction: row;
    gap: 5px;
    margin-left: 3rem;
    font-size: 2rem;
}
.favorite{
   display: flex;
    flex-direction: row;
    gap: 5px;
    margin-left: 3rem;
    font-size: 2rem;
}
.music{
   display: flex;
    flex-direction: row;
    gap: 5px;
    margin-left: 3rem;
    font-size: 2rem;
}
.M{
   font-family:'georgia garamond',serif ;
}
.Y{
   font-family:'brush script mt', cursive ;
}
.F{
   font-family:'lucida handwriting', cursive ;
}
.A{
   font-family:'arial', sans-serif ;
}
.V{
   font-family:'paypyrus',fantasy ;
}
.O{
   font-family:'monaco',monospace ;
}
.R{
   font-family:'vardana',sans-serif ;
}
.I{
   font-family:'brush script mt',cursive ;
}
.T{
   font-family:'copperplate', fantasy ;
}
.E{
   font-family:'georgia garamond', serif ;
}
.M2{
    font-family:'lucida handwriting', cursive ;
}
.U{
    font-family:'times new roman', serif ;
}
.S{
    font-family:'payprus', fantasy ;
}
.I2{
    font-family:'verdana',sans-serif ;
}
.C{
    font-family:'brush script mt', cursive ;
}
.AI{
    display: flex;
    margin-bottom: 12rem;
    margin-top: -15.5rem;
    margin-left: 7rem;
    font-family: 'courier new', cursive;
    font-size: 0.8rem;
    color: #9a9696;
}
.song{
     display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 7rem;
    font-size: 3.5rem;
}
.Sa{
   font-family:'lucida handwriting', cursive ;
}
.Oa{
   font-family:'times new roman', serif ;
}
.N{
      font-family:'paypyrus garomond', fantasy ;
}
.G{
     font-family:'brush script mt',cursive ;
}
.album{
     display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 7rem;
    font-size: 3.5rem;
    margin-top: -25rem;
}
.Aa{
   font-family:'copperplate', fantasy  ;
}
.L{
   font-family:'lucida handwriting', cursive ;
}
.B{
   font-family: 'georgia garamond', serif;
}
.Ua{
   font-family: 'brush script mt', cursive;
}
.Ma{
     font-family: 'courier new', monospace;
}
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(82, 60%, 28%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --body-color: hsl(0, 0%, 95%);
  --container-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: .813rem;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1120px) {
  :root {
    --h2-font-size: 1.5rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/


img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== CARD ===============*/
.card-good {
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
}

.card {
  display: grid;
  row-gap: 3.5rem;
  margin-top: -12rem;
}
.card-bo{
    display: flex;
    gap: 1.5rem;
  margin-top: -39rem;
}
.card-article {
  position: relative;
  overflow: hidden;
}

.card-image {
  width: 300px;
  height: 300px;
  border-radius: 1.5rem;
}

.card-data {
  width: 200px;
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card-description {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}

.card-title {
  font-size: var(--h2-font-size);
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: .75rem;
}

.card-button {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--first-color);
}

.card-button:hover {
  text-decoration: underline;
}

/* Naming animations in hover */
.card-article:hover .card-data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card-article:hover {
  animation: remove-overflow 2s forwards;
}

.card-article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card-article:not(:hover) .card-data {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .card-good {
    margin-inline: 1rem;
  }

  .card-data {
    width: 250px;
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .card-good {
    height: 100vh;
  }

  .card {
    grid-template-columns: repeat(3, 1fr);
  }
  .card-image {
    width: 348px;
  }
  .card-data {
    width: 316px;
    padding-inline: 2.5rem;
  }
}
.kesimpulan{
    font-family: 'courier new', cursive;
}
.benak{
    font-family: 'courier new', cursive;
    margin-top: -17rem;
    max-width: 65rem;
    margin-left: 7.5%;
    margin-right: 7.5%;
    color: #ffffff;
}